@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.listItem{
    display: inline;
    align-items: center;
    text-decoration: none;
    margin-right: 30px;
   font-size: 20px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#menuItem{
    text-decoration: none;
}
/* #menuItem :hover .dropDown{
    display: block;
} */
#logo{
    height: 80px;
}
.dropDown{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    padding: auto;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 9%;
    left: 25%;
    background-color: transparent;
}

.dropdownItem{
    text-decoration: none; 
    font-size: 18px;
    font-family:  sans-serif;
}
/* End NavBar */

/* Main Section */
#main{
    width: 100%;
    height: fit-content;
   
}
.imgBckgrnd{
    width: 75%;
    height: 60vh;
    margin-left: 12%;
    margin-top: 1%;
    border-radius: 10px;
}
/* End of main */

/* Content */
#content{
    display: flex;
    position: relative;
    width: 100%;
    padding-bottom: 5%;
    /* height: 140vh; */
   
}
/* .divA{
    position: absolute;
    left: 15%;
    top: 5%;
    width: 12%;
    border: 1px solid gray;
    height: 180px;
    background-color: green;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    
} */
/* .divA a{
    font-size: 25px;
    text-decoration: none;
    color: black;
} */
.divB{
    margin-top: 5%;
    margin-left: 12%;
    width: 75%;
    text-align: left;
    /* position: absolute;
    right: 5%;
    width: 60%;
    top: 5%; */

   
}
.divB p{
    font-size: 14px;
}

/* end content */
/* footer */
#footer{
    /* height: 35vh; */
    position: relative;
  padding-bottom: 5%;
    /* width: 100%; */
    /* border: 1px solid; */
   
}
.line{
    width: 75%;
    position: absolute;
   top: 2%;
   left: 13%;
}
.media{
    position: absolute;
    width: 15%;
    /* display: flex; */
    align-items: center;
    /* justify-content: flex-end; */
   top: 35%;
    right: 5%;
    /* border: 1px solid; */
}
.media p{
    font-weight: bold;
    /* text-align: center; */
    /* position: absolute;
    right: 15%; */
}
/* .insta{
    height: 50px;
    
} */
#btnInvolve{
    position: absolute;
    right: 10%;
    top: 15%;
}
.Location{
    position: absolute;
    left: 13%;
    top: 15%;
    /* border: 1px solid; */
    width: 500px;
    text-align: left;
}
.locationIcon{
    position: absolute;
    left: 0;
    top: 5%;
}
.locText{
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 10%;
}
.address{
    margin-top: 0;
    font-weight: bold;
    margin-left: 10%;
}
/* end footer */

/* home page */
#cont{
    height: fit-content;
    width: 100%;
    /* border: 1px solid; */
    padding-bottom: 5%;
}
.divOne{
    margin-right: 10%;
    margin-left: 25%;
    margin-top: 10%;
    width: 70%; 
    /* border: 1px solid; */
}
.divTwo{
    margin-left: 10%;
    margin-top: 10%;
    width: 70%;
    /* border: 1px solid; */
    margin-right: -15%;
    /* height: max-content; */
}
#logo2{
    /* height: 400px;
    width: 400px; */
    margin-top: 0%;
}
#logo3{
    height: 100px;
    width: 130px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 15px;
}
.photos{
    margin-top: 0%; 
    margin-left: 12%;
    padding-bottom: 5%;
    /* border: 1px solid; */
}
/* cont2 */
#cont2{
    height: fit-content;
    width: 100%;
    padding-bottom: 5%;
    /* border: 1px solid; */
}
.team{
    /* margin-right: 10%; */
    margin-left: 25%;
    margin-top: 10%;
    /* width: 100%;   */
}
#theTeam{
    height: 200px;
    width: 280px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}
.teamText{
    margin-left: -25%;
    margin-top: 10%
}
/* end cont2 */

/* cont3 */
#cont3{
    height: fit-content;
    width: 100%;
    padding-bottom: 5%;
}
/* .events{
    margin-left: 25%;
    margin-top: 10%;
   }
#theEvents{
    height: 200px;
    width: 280px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}
.eventsText{
    margin-left: -50%;
    margin-top: 10%
} */
/* end cont3 */
/* Team */
#theeTeam{
    height: 65vh;
    width: 100%;
}
.Title{
    text-align: center;
    margin-bottom: 2%;
}
#theTeamB{
    height: 55vh;
    width: 100%;
}
.one{
    height: fit-content;
    width: fit-content;
    margin-left: 25%;
    /* border: 1px solid; */
}
.one p{
    text-align: center;
}
.pOne{
    margin-left: 25%;
    margin-bottom: 10%;
    height: fit-content;
    width: fit-content;
    /* border: 1px solid; */
}
/* end team */

/* news */
.gTech-info{
    margin-left: 25%; 
    margin-top: 10%;
}
.techText{
    text-align: center;
   
}
.aSk{
    margin-left: 25%;
    margin-top: 5%;
}


/* get involved */
#bMentor{
    text-align: center;
}
.icons{
   /* border: 1px solid; */
   margin-left: 25%;
   /* display: flexbox; */
}
.details input{
 width: 50%;
 margin-bottom: 10px;
 border: none;
 background-color: white;
 border-radius: 20px;
}
/* end getInvolved */

/* Gallery */
#mainGallery{
    height: fit-content;
    width: 100%;
    
}
#slide{
    width: 80%;
    height: 60vh;
    margin-left: 10%;
    margin-top: 1%;
    border-radius: 10px; 
    margin-bottom: 10vh;
    object-fit: cover;
}